
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">
        <a href="/admin/supplies" class="btn btn-primary">Manage Supplies</a>
        <br /><br />
        <a href="/admin/lists" class="btn btn-primary">Manage Lists</a>
        <br /><br />
        <a href="/account/logout" class="btn btn-primary">Log out</a>
        <br /><br />
    </div>
</div>


