<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolSupplyApp.Data.Properties.Settings.SchoolSuppliesDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=SchoolSuppliesDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>